@media (max-width:1920px) {
    header {
        width: 100%;
    }

    main {
        width: 100%;
    }

    footer {
        width: 100%;
    }
}

@media (max-width:360px) {

/* ===== HEADER ====== */

    header {
        width: 100%;
    }

    .top-wrapper {
        background-color: #0F8B8D;
        height: 104px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .logo   {
        width: 135px;
        height: 27px;
        margin-top: 20px;
        margin-left: 40px;
    }

    .top-wrapper li {
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
        text-align: center;
        color: #F9FBFE;
    }

    .heading {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin: 0 auto;
    }

    .top-wrapper ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 20px auto;
        padding: 0;
    }

    /* ===== MAIN ====== */

    main {
        width: 100%;
    }

    .content-title {
        margin: 40px auto 20px auto;
    }

    .content-title h2 {
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        color: #0F8B8D;
    }
    
    .content-title p {
        font-size: 12px;
        font-weight: 400;
        line-height: 14.4px;
        text-align: center;
        color: #143642;
    }

    .name-menu {
        font-size: 12px;
        font-weight: 700;
        line-height: 14.4px;
        text-align: center;
        color: #F9FBFE;
        margin-bottom: 0;
        margin-top: 13px;
    }
    
    .price {
        font-size: 12px;
        font-weight: 400;
        line-height: 14.4px;
        text-align: center;
        color: #F9FBFE;
        margin-top: 6px;
        margin-bottom: 0;
    }

    .content-item img {
        width: 120px;
        height: 90.08px;
        margin: 0;
        transition: all 0.6s ease;
        z-index: 10;
    }

    .content-item {
        background-image: url(../Images/Coffee-background.png);
        background-size: cover;
        width: 135px;
        height: 135px;
        border-radius: 20px;  
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: all 0.6s ease;
    }

    .content-menu {
        display: grid;
        grid-template-columns: repeat(2, 135px);
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 10px 20px;
        margin-bottom: 60px;
        margin-top: 20px;
    }

    .content-item:hover img {
        transform: translateY(-45px);
    }
    
    .content-item:hover .name-menu {
        transform: translateY(80px);
    }
    
    .content-item:hover .price {
        transform: translateY(80px);
    }


    /* ===== FOOTER ====== */

    footer {
        width: 100%;
        height: 362px;
        background-color: #143642;
        border-radius: 30px;
    }

    .footer-logo {
        width: 145px;
        height: 29px;

    }

    .mail {
        width: 25px;
        height: 20px; 
        margin-right: 5px;
    }

    .phone {
        width: 20px;
        height: 20px;
        margin: 0;
    }

    .watermark {
        visibility: visible;
    }

    .footer-nav {
        font-size: 14px;
        font-weight: 700;
        line-height: 16.8px;
        text-align: left;
    }

    .footer-nav-list {
        font-family: Lato;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.4px;
        margin-left: 30px;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }

    .footer-icon {
        display: flex;
        flex-direction: row;
        column-gap: 73px;
        margin: auto;
        margin-bottom: 30px;
    }

    .footer-product {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        margin-left: 40px;
    }

    .footer-store, .footer-contact {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        margin-left: 40px;
        margin-top: 10px;
    }
}