@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body {
    width: 100%;
    max-width: 1920px;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: #F9FBFE;
}

li {
    list-style-type: none;
}

/* ===== HEADER ====== */

header {
    width: 100%;
    max-width: 1920px;
}

.top-wrapper {
    background-color: #0F8B8D;
    height: 145px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.heading {
    display: flex;
    justify-content: center;
    gap: 433px;
}

.top-wrapper ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 54px;
}

.top-wrapper li {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #F9FBFE;
}

.logo   {
    width: 335px;
    height: 67px;
    margin-top: 39px;
}

.header-text h1 {
    font-weight: 800;
    font-size: 70px;
    line-height: 84px;
    text-align: center;
    margin: 0;
}

.header-text p {
    font-weight: 400;
    font-size: 36px;
    line-height: 43.2px;
    text-align: center;
    margin-top: 10px;
    display: block;
}

.top-wrapper a:hover {
    color: #bdbdbd;
}

/* ===== MAIN ====== */

main {
    width: 100%;
    max-width: 1920px;
}

.product-display img {
    width: 493px;
    height: 501.35px;
    object-fit: cover;
    margin: 0;
}

.display-text h2 {
    font-size: 48px;
    font-weight: 800;
    line-height: 57.6px;
    text-align: left;
    color: #0F8B8D;
    margin-top: 0;
}

.display-text p {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px; 
    text-align: left;
    color: #143642;
}

.display-text h3 {
    font-size: 60px;
    font-weight: 800;
    line-height: 72px;
    text-align: left;
    color: #0F8B8D;
}

.product-description h2 {
    font-size: 48px;
    font-weight: 500;
    line-height: 57.6px;
    text-align: left;
    color: #0F8B8D;
    border-bottom: 5px solid #EC9A29;
    width: 381px;
    padding-bottom: 20px;
}

.product-description p {
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: #143642;
    margin-bottom: 45px;
}

.product-description a {
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: center;
    color: #F9FBFE;
}

.product-display {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 50px 254px 0 138px;
}

.product-description {
    display: flex;
    flex-direction: column;
    margin: 0 263px 100px 257px;
}

span {
    width: 16.6px;
    height: 20px;
    transform: scaleX(-1);
    display: flex;
    align-items: center;
    margin-right: 19.4px;
}

.btn {
    background-color: #A8201A;
    width: 335px;
    height: 70px;
    border-radius: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
}

.btn:hover {
    background-color: #811812;
    transform: scale(1.1);
}

.content-feed a {
    font-weight: 400px;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
    margin-top: 45px;
}

/* ===== FOOTER ====== */

footer {
    width: 100%;
    max-width: 1920px;
    height: 460px;
    background-color: #143642;
    border-radius: 30px;
}

.footer-logo {
    width: 335px;
    height: 67px;

}

.mail {
    width: 40px;
    height: 32px; 
    margin-right: 20px;
}

.phone {
    width: 32px;
    height: 32px;
    margin: 0;
}

.footer-nav {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    color: #EC9A29;
}

.footer-nav-list {
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    color: #F9FBFE;
    margin: 0;
}

.watermark {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    text-align: center;
    color: #F9FBFE;
    margin-top: 38px;
    visibility: hidden;
}

.footer-container a:hover {
    color: #a0702e;
}

.footer-container {
    display: flex;
    padding-top: 80px;
    justify-content: center;
}

.footer-icon {
    display: flex;
    flex-direction: column;
    row-gap: 31px;
}

.footer-product {
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap: 20px;
    margin-left:138px;
}

.footer-store, .footer-contact {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-left: 100px;
}